table, th, td {
    border: 2px solid mediumpurple;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
h3 {
    text-align: center;
    font-size:30px;
    color: red;
}
select, input{
    font-size:30px;
    border:solid 2px royalblue;
}