<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <test name="Test">
    <classes>
        <class name="by.epam.figures.entity.Point2DTest"/>
        <class name="by.epam.figures.entity.TriangleTest"/>
        <class name="by.epam.figures.reader.ReaderTest"/>
        <class name="by.epam.figures.creator.PointCreatorTest"/>
        <class name="by.epam.figures.parser.LineParserTest"/>
        <class name="by.epam.figures.creator.TriangleCreatorTest"/>
        <class name="by.epam.figures.action.TriangleActionTest"/>
    </classes>
  </test>
</suite>